
</div>
<div class="footer-padding"></div>
  <div class=" page-footer">
    <p>Made by <a href="https://github.com/Tejp98" class="footerLink"><strong>Tej Patel</strong></a></p>
  </div>
</div>
</body>
</html>
